<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LibroSoap" />
                <binding name="AutorSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://investigacionformativa.somee.com/Libro.asmx"
                binding="basicHttpBinding" bindingConfiguration="LibroSoap"
                contract="srLibro.LibroSoap" name="LibroSoap" />
            <endpoint address="http://investigacionformativa.somee.com/Autor.asmx"
                binding="basicHttpBinding" bindingConfiguration="AutorSoap"
                contract="srAutor.AutorSoap" name="AutorSoap" />
        </client>
    </system.serviceModel>
</configuration>